*{
    margin: 0;
    box-sizing: border-box;
     background-color: rgb(245, 238, 238);

}
body nav {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    height: 150px;
    margin-top: 30px;
    align-items: center;
}



    
body nav .search{
    position: relative;
    
}
i{
    position: absolute;
    left: 280px;
    top: 45%;
    transform: translate(-50%);
}
body nav input{
    margin-top: 10px;
    padding: 8px 12px;
    width: 300px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
    border-radius: 20px;
    background-color: whitesmoke;
    font-size: 14px;
  
}

  body nav .heading{   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 30px;
     color: rgb(40, 65, 77);
}
nav .search i {
    color: #555;
    font-size: 14px;
}


    
.container{
    height:200vh;
    display: flex;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px 20px;
    background-color: rgb(245, 238, 238);
    padding: 30px;
    
    
}
.container .sneakers{
    width: 290px;
    height: 320px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
    padding: 15px;
}
.container .sneakers h3{
    font-family:  Helvetica;
    font-style: italic;
    font-size: 15px;
    font-weight: 300;
}
.container .sneakers button{
    background-color: #2c09f4;
    color:white ;
    margin-left: 30%;
    
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
}
.container .sneakers button:hover{
    transform: scale(1.05);
}
.container .sneakers:hover{
    transition: all 0.3s ease;
    transform: scale(1.03);

}
span{
    font-weight: 800;
}

@media only screen and (max-width:600px){
   .container{
   grid-template-columns: auto auto;
    
    
   }
   body nav {
    display: flex;
    padding: 40px;
    justify-content: space-evenly;
    height: 150px;
    margin-top: 30px;
    align-items: center;
}
   .container .sneakers{
    width: 280px;
    height: 320px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
    padding: 15px;
}
   body nav input{
    width: 200px;
}
   body nav .heading{   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 20px;
     color: rgb(40, 65, 77);
}
  i{
    position: absolute;
    left: 180px;
    top: 45%;
    
}
 

}
  
   
  
    
    
    
    
    
    
    
    
    
    


