*{
    margin: 0;
    box-sizing: border-box;

}
.container{
    width: 100%;
    height: 200vh;
    
}
.container nav{
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    
}
.container nav .head h1{
    font-family: sans-serif;
    letter-spacing:-2px;
}
.container nav .head h4{
    
    font-family: sans-serif;
    letter-spacing:4px;
    
}
.container nav .list button{
    background-color: white;
    padding: 4px 15px 4px 15px;
        color: orange;
        border: .7px solid orange;
        border-radius: 5px;
        font-weight: 700;
        transition: all 1s ease;
    }
    .container nav .list button:hover{
          transform: scale(1.2);
    }
    
.container nav .list {
    display: flex;
    align-items: center;
}
.container nav .list ul{
    display: flex;
    list-style-type:none;
}
.container nav .list ul li a{
    text-decoration: none;
    margin-right: 50px;
    color: black;
    font-family: sans-serif;
    font-weight: 800;
    font-size: small;
}
.container nav .list ul li .spe{
        color: orange;
}
 span{
            color: orange;
}
.container .body{

    width: 100%;
    height: 90vh;
    background-color: rgba(73, 198, 207, 0.1);
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    
}
.container .body .text{
    font-family: sans-serif;
    width: 600px;
    
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    padding: 50px;
    
    
}


.container .body .text h4{
  color: orange;
  
  font-size: small;
}
.container .body .text h1{
    color: rgb(28, 21, 7);
    font-weight: 700;
    font-size: 50px;
    
}
.container .body .text p{
    color: rgb(95, 89, 89);
    font-weight: 700;
    font-size: small;
    margin-top: 10px;
}
.container .body .text button{
    background-color: white;
    padding: 4px 15px 4px 15px;
    color: orange;
    border: 2px solid orange;
    border-radius: 3px;
    font-weight: 700;  
    transition: all 1s ease;
}
.container .body .text button:hover{
     transform: scale(1.2);
}
   img{
    animation:pic 1s  linear infinite alternate ;
 }
@keyframes pic {
     from{
        transform: translateX(0px);
     }

     to{
        transform: translateX(7px);
     }
}