*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(243, 240, 240);

}

.profile{
    max-width: 370px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    box-shadow: 0 5px 10px rgb(0,0,0,0.1);
   position: relative;
    overflow: hidden;
}
.profile::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 175px;
    background-color: #0c45e0;
    border-radius: 24px 24px 0 0;
    z-index: -1;
}


.profile .imge{
    border-radius: 50%;
    width: 190px;
    height: 190px;
    background-color: rgb(17, 17, 228);
   
    display: flex;
    align-items: center;
    justify-content: center;
    .profile .imge{
    margin-top: 40px;
    z-index: 1;
}


}
.profile .text{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top:26px;
    gap: 6px;
}
.profile .text .main{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
}
.profile .text .mains{
    font-family: sans-serif;
    font-weight: 300;
    font-size: small;
}
.profile .imge img{
    border-radius: 50%;
    border: 3px solid #fff;
    
    
}
.profile .icons{
    margin-top: 8px;
    display: flex;
    padding: 5px;
    
   
    
}
.profile .icons i{
    color: white;
}
.profile .icons a{
    margin: 0 8px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 34px;
    height: 34px;
    border-radius: 50%;
}
  #a{
    background-color: rgb(21, 21, 227);
}
  #b{
    background-color: rgb(7, 207, 242);
}
  #c{
    background-color: rgb(227, 21, 134);
}
  #d{
    background-color: rgb(227, 21, 31);
}
 .profile .buttn {
    display: flex;
    align-items: center;
    margin-top: 20px;
    
 }
 .profile .buttn .button{
   padding: 8px 24px;
    border-radius: 25px;
    border: none;
    margin: 0 10px;
    background-color: #4070f4;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    transition: transform 0.3s ease ;
}
.profile .buttn .button:hover{
    opacity: .7;
    transform: scale(1.1);
}
.profile .analytics{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.profile .analytics .data{
    display: flex;
    margin: 0 10px;
    gap: 7px;
    border-right: 2px solid #e6d8d8;
    align-items: center;
    padding-right: 13px;
}
.profile .analytics .data:last-child{
    border-right: none;
}
